<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
        <main>
            <form action='/create-post' method='POST'>
                <% errors.forEach(error => { %>
                    <p class='notice'><%= error %></p>
                <% }) %>
                <fieldset>
                    <legend>Create a New Post</legend>
                    <label for='title'><small>Title</small></label>
                    <input type='text' id='title' name='title' autocomplete='off'>

                    <label for='password'><small>Password</small></label>
                    <input type='password' id='password' name='password' autocomplete='off'>


                    <br />
                    <button type='submit'> Log In </button>
                </fieldset>
            </form>
        </main>
    </body>
    <%- include('includes/footer') %>
</html>